.homeContainer {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    width: 100%;
    max-width: 1200px;
    padding: 1em;
    margin: 1em auto;
}

.contentSection{
    display: flex;
    align-items: center;
    margin: 2em;
}

.contentSection img{
    object-fit: cover;
    height: 60vh;
    width: 60vw;
}

.cardsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.wallpaper {
    width: 100%;
    filter: brightness(0.3);
}

.cards {
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

