.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formControl label {
    margin-bottom: .6em;
    font-weight: bold;
}

.formControl input {
    padding: .7em;
    border-radius:0;
    border: none;
    border-bottom: solid 2px;
    text-align: center;
    background-color: #e0e0e0;
}
